
/* index廣告輪播 */
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.item>img{
    display: block;
    height: 100%;
}

/* title底線 */
.border {
    border-top: 1px solid #808080;
    height: 1px;
    margin: 15px auto 0;
    position: relative;
    width: 35%;
}

.title h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 38px;
    color: #004040;
}

.color {
    color: #6CB670;
}

/* Login-2跳出 */

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}


